{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container pt-3">
    <div class="text-center">
        <img class="img-fluid" src="{% static 'images/GG_Logo.png' %}" alt="">
    </div>


    <div class="container text-center pt-3">
        <h1>Welcome to Gamers Gambit</h1>
        <p class="pt-3"> Welcome to PixelPlayground, the go-to destination for gamers seeking the latest reviews, news,
            and insights into the vast world of video games. Our mission is to explore the depths of gaming, from the
            adrenaline-pumping action of blockbuster titles to the thoughtful narratives of indie gems, providing our
            community with the knowledge they need to find their next great gaming adventure.

            Join us as we navigate the ever-evolving landscapes of digital worlds, offering expert reviews and engaging
            content tailored for both the seasoned veterans and newcomers to the gaming scene. At PixelPlayground, we're
            more than just a review site; we're a vibrant community of gamers sharing a passion for the art and culture
            of video games. Dive in and discover your next favorite game with us!</p>
    </div>
</div>

{% endblock %}