{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Pending Reviews</h1>

        <!-- Review Entries Column -->
        <div class="col-12 mt-3 mb-3 left">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                {% for review in pending_reviews %}
                <div class="col my-2">
                    <div class="card h-100 mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in review.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ review.featured_image.url }}"
                                    alt="{{ review.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Review By: <span class="text-white">{{ review.author }}</span></p>
                                    <p>
                                        {% spaceless %}
                                        Rating: 
                                        {% for star in "12345"|make_list %}
                                        {% if forloop.counter <= review.rating|add:"0" %}
                                        <i class="fas fa-star fa-fw fa-lg text-warning" aria-hidden="true"></i>
                                        {% else %}
                                        <i class="fas fa-star fa-fw fa-lg text-muted" aria-hidden="true"></i>
                                        {% endif %}
                                        {% endfor %}
                                        {% endspaceless %}
                                    </p>
                                </div>
                            </div>
                            <h2 class="card-title">Title: {{ review.title }}</h2>
                            <p class="card-text">Description: {{ review.description }}</p>
                            <p>
                                Tags: 
                                {% for tag in review.tags.all %}
                                {{tag}},
                                {% endfor %}
                            </p>
                            <p>
                                Platforms: 
                                {% for platform in review.platforms.all %}
                                {{platform}},
                                {% endfor %}
                            </p>
                            <p>Genre: {{ review.genre }}</p>
                            <hr>
                            <p class="card-text text-muted h6">{{ review.created_on}}</p>
                            <!-- Section containing relevant buttons for the Full Review, Approval and Deletion, this page is only accessible by superusers -->
                            <div class="text-center"><a href="{% url 'review-detail' review.pk %}"
                                    class="btn btn-success w-50 my-2">Full Review</a>
                                <form method="POST" action="{% url 'review-approval' review.pk %}">
                                    {% csrf_token %}
                                    <button class="btn bg-green1 text-white w-50 my-2" type="submit" name="action"
                                        value="approve">Approve</button>
                                </form>

                                <a href="#" class="btn btn-danger w-50 my-2" data-bs-toggle="modal"
                                    data-bs-target="#delete-review-{{ review.id }}">Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal: confirm deletion -->
                <div class="modal fade" id="delete-review-{{ review.id }}" tabindex="-1"
                    aria-labelledby="delete-review-{{ review.id }}-label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="delete-review-{{ review.id }}-label">Delete
                                    {{ review.title }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this review?
                                <br>
                                {{ review.title }}
                                <br>
                                <small>This action is permanent, and cannot be undone.</small>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
                                <a href="{% url 'delete-review' review.pk %}" class="btn btn-danger">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col text-center">There are currently no pending reviews in the database</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- pending_reviews.html content ends here -->
{% endblock %}