{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container text-center pt-3">
  <h1>Welcome to your profile page, where you can access your approved and unapproved reviews</h1>
  <hr>
  {% if user.is_superuser %}
  <h2>As you are an admin, you can also access reviews that are pending approval here, and either approve or delete them
  </h2>
  {% endif %}


  <div class="container text-center pt-3">
    <a href="{% url 'approved-reviews' %}" class="btn btn-success w-50">My Approved Reviews</a>
  </div>
  <div class="container text-center pt-3">
    <a href="{% url 'unapproved-reviews' %}" class="btn btn-success bg-red1 w-50">My Unapproved Reviews</a>
  </div>

  {% if user.is_superuser %}
  <div class="container text-center py-3">
    <a href="{% url 'pending-reviews' %}" class="btn btn-success bg-green1 w-50">Reviews Pending Approval</a>
  </div>
  {% endif %}
</div>
<!-- profile.html content ends here -->
{% endblock %}