@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Exo:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');

/* HMTL/BODY */

html, body {
    min-height: 100vh;
}

/* FONT */
.exo-title-bold {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

h1 {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


p {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

/* BACKGROUND AND TEXT COLOURS */

.bg-red1 {
    background-color: red;
}

.bg-red2 {
    background-color: #e71a36;
}

.bg-green1 {
    background-color:#036977;
}

.text-green1 {
    color:#036977;
}

.text-red1 {
    color:#e71a36;
}

/* LOGO */

.logo {
    width: 80px;
    height: 80px;
}

/* ACTIVE PAGE */

.activepage {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #036977;
  }

/* REVIEW CONTAINER */

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #036977;
}

/* REVIEW DETAIL */

.card {
    border-color: #036977;
  }


.scale {
    width: 100%;
    height: auto;
}

/* Masthead */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}


/* BUTTON */

.btn-1{
    border-radius: 0.375rem;

}

.btn-1:hover {
    background-color: #e71a36;
}

.btn:hover {
    background-color: #312f30 !important;
}